{% extends 'atlas/layout.html' %}

{% block content %}
	<h1 align="center">Ups... Da ist wohl was schief gelaufen. (Fehlercode X1)</h1>
	<p>Fehler X1: Falsche Eingabe bei der Aufgabenerstellung. Bitte wiederholen Sie den Upload mit gültigen Eingaben.<br>Sollte dieser Fehler erneut auftreten, wenden Sie sich bitte an den Administrator dieser Webseite.<br><br>
	<a href="/upload"><button class="waves-effect waves-light btn" onclick="goBack()">Zurück</button></a></p>
	<script type="text/javascript">
		function goBack() {
    		window.history.back();
    	}
    </script>
{% endblock %}

