{% extends 'atlas/layout.html' %}

{% block content %}
	<h2 align="center">Neue Aufgabe erstellen</h2>
	<form id="uploadForm" action="/upload/" method="post" enctype="multipart/form-data">
 		<p>{% csrf_token %}</p>
		Aufgabentitel:
    		<p>{{ form.titel }}</p>
   		Lehrer:
    		<p>{{ form.lehrer }}</p>
    	<p>Datensatz: {{ form.datensatz }}</p>
    	<!--<p>Tags:
    		{% for tag in form.tags %}
				{{ tag }}
			{% endfor %}
		</p>-->
   		<div id="button"><input id="BTNupload" type="submit" value="Hochladen" /></div>
	</form>
{% endblock %}