{% extends "userinterface/main_template.html" %}

{% block content %}
	<div class="container" id="stages">
		<a href="/stage_1/"><p class="stages" id="1">Stage 1</p></a>
		<a href="/stage_2/"><p class="stages" id="2">Stage 2</p></a>
		<a href="/stage_3/"><p class="stages" id="3">Stage 3</p></a>
		<a href="/stage_4/"><p class="stages" id="4">Stage 4</p></a>
		<a href="/stage_5/"><p class="stages" id="5">Stage 5</p></a>
		<a href="/stage_6/"><p class="stages" id="6">Stage 6</p></a>
		<a href="/stage_7/"><p class="stages" id="7">Stage 7</p></a>
		<a href="/stage_8/"><p class="stages" id="8">Stage 8</p></a>
		<a href="/stage_9/"><p class="stages" id="9">Stage 9</p></a>
		<a href="/stage_10/"><p class="stages" id="10">Stage 10</p></a>
		<a href="/stage_11/"><p class="stages" id="11">Stage 11</p></a>
		<a href="/stage_12/"><p class="stages" id="12">Stage 12</p></a>
		<a href="/stage_13/"><p class="stages" id="13">Stage 13</p></a>
	</div>
	<div id="blocker"></div>
{% endblock %}
