{% extends "userinterface/main_template.html" %}

{% block title %}{{ keywords }}{% endblock %}

{% block headline %}{{ keywords }}{% endblock %}

{% block content %}

{% if tasknumber == 0 %}
<h2 align="center"><b>Error:</b> There are no tasks to show.</h2>
{% else %}
  <div class="container" id="subject">
    {% for subject in subjects %}
      <a href="{% url 'subject' subject.subject_id %}"><p class="subject">{{ subject.subject_name }}</p></a>
    {% endfor %}
  </div>
  <div id="blocker"></div>
<!-- 
  Above HTML will just show if there are subjects delivered  
!-->
<table>
    <thead>
        <tr>
            <th>Task Name</th>
            <th>Author</th>
            <th>Subject</th>
            <th>Stage</th>
            <th>Upload Date (Last Change)</th>
            <th>Download Task</th>
        </tr>
      </thead>

      <tbody>
         {% for task in tasks %}
         <tr>
           <td><a href="{% url 'task' task.task_id %}">{{ task.task_name }}</a></td>
           <td>{{ task.teacher }}</td>
           <td>{{ task.subject }}</td>
           <td>{{ task.stage }}</td>
           <td>{{ task.uploaded_at }} <i>({{ task.last_changed_at }})</i></td>
           <td><a href="{% url 'download' task.document %}"><i class="material-icons">file_download</i></a></td>
         </tr>
         {% endfor %}
   </tbody>
</table>
{% endif %}
{% endblock %}
