{% extends "userinterface/main_template.html" %}

{% block title %}Upload a task{% endblock %}

{% block headline %}Upload a task{% endblock %}

{% block content %}
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
			var elems = document.querySelectorAll('select');
			var instances = M.FormSelect.init(elems, classes="browser-default");
		});
	</script>
	
	<form role="from" id="taskForm" method="post" action="{% url 'upload' %}" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}

		<button class="btn btn-success" type="submit">Hinzufügen</button>
	</form>
{% endblock %}