{% extends "userinterface/main_template.html" %}

{% block content %}
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
			var elems = document.querySelectorAll('select');
			var instances = M.FormSelect.init(elems, classes="browser-default");
		});
	</script>
	
	<div id="uploadform">
		<form role="form" method="post" action="/upload/" enctype="multipart/form-data">
			<div class="row">
				<div class="input-field col s12">
					{{ form.task_name }}
					<label for="task_name">Task title</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					{{ form.subject }}
					<label>Subject Select</label>
				</div>

				<div class="input-field col s6">
					{{ form.stage }}
					<label>Stage Select</label>
				</div>
			</div>
			<div class="row">
				{{ form.document }}
			</div>
			{% csrf_token %}
			<button class="btn btn-success" type="submit">Add task</button>
		</form>
	</div>
{% endblock %}