<!DOCTYPE html>
<html>
<head>
	<title>AtlasDB - Upload</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<style type="text/css">
		#uploadField {
			border-radius: 5px;
			margin-left: 5%;
			margin-right: 5%;
			background-color: lightblue;
			padding-top: 15%;
			padding-bottom: 15%;
		}

		#uploadField:hover {
			color: white;
		}
	</style>
</head>
<body>
	<h1 class="center-align">AtlasDB Aufgabenupload</h1>
	<div id="uploadField">
		<font size="5"><p align="center">Drag here to upload</p></font>
	</div>
</body>
</html>