<!DOCTYPE html>
<html>
<head>
	<title>AtlasDB - Upload</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<style type="text/css">
		#uploadField {
			border-radius: 5px;
			margin-left: 5%;
			margin-right: 5%;
			background-color: lightblue;
			padding-top: 15%;
			padding-bottom: 15%;
		}

		#uploadField:hover {
			color: white;
		}
	</style>
	<script>
		function upload(){
			var inputDataRaw = document.getElementById("uploadData");
			if ('files' in inputDataRaw) {
				if (inputDataRaw.files.length == 1) {
					var inputData = inputDataRaw.files[0];
					// Print name of the uploaded document
					document.getElementById("textField").innerHTML = inputData.name;
				} else {
					document.getElementById("textField").innerHTML = "Fehler: Zu viele oder zu wenig Dateien ausgewählt.";
				}
			} else {
				document.getElementById("textField").innerHTML = "Fehler: Auswahl fehlerhaft.";
			}
		}
	</script>
</head>
<body>
	<h1 class="center-align">AtlasDB Aufgabenupload</h1>
	<div id="uploadField">
		<input type="file" id="uploadData" accept=".doc,.docx,.pdf,.txt,.md,.gif" size="50" onchange="upload()">
		<p id="textField"></p>
	</div>
	<!--
		<font size="5" id="textField"><p align="center">Click here to upload</p></font>
	-->
</body>
</html>