{% extends "userinterface/main_template.html" %}

{% block title %}Welcome to atlasDB{% endblock %}

{% block headline %}{% endblock %}

{% block content %}
{% load staticfiles %}
<div style="{
	left: 50%;
	width: 500px;
	margin-left: -250px;
	position: relative;
}">
<img class="responsive-img" src="{% static 'userinterface/images/logo.png' %}">
</div>
<style>
	body {
		background-image: url("{% static 'userinterface/images/p1.jpg' %}");
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-color: black;
	}
</style>
{% endblock %}
